name: 'Streamlit Community Cloud Wake'

 # 触发条件
on:
  push:
  watch:
    types: [started]
  schedule:
    - cron: '*/29 23-23 * * ?'    # 北京时间 7:00 - 7:59，每 29 分钟触发一次
    - cron: '*/29 0-15 * * ?'     # 北京时间 8:00 - 23:59，每 29 分钟触发一次

jobs:
  curl-my-site:
     runs-on: ubuntu-latest
     steps:
       - name: 'xecute command'

         # 向站点发送 GET 请求
         run: |                                   
           curl https://digital-assistant.streamlit.app/
